:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.p-panelmenu .p-panelmenu-content {
  background: var(--surface-ground) !important;
}

.p-panelmenu .p-panelmenu-panel {
  border: none;
  box-shadow: none;
  background: var(--surface-ground) !important;
}

.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
  background: var(--surface-ground) !important;
}

.p-datatable-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.p-datatable-footer {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.p-tabmenu .p-tabmenu-nav {
  background: transparent;
  border: none;
}

.p-rowgroup-header td {
  border: none !important;
}

td {
  border: none !important;
}